<div class="estrenos-wrapper">
  <h3 class="estrenos-heading">Próximos Estrenos</h3>

  <div class="estrenos-grid">
    <article *ngFor="let anime of animesTop; let i = index"
             class="estreno-card reveal"
             [style.animation-delay]="(i * 0.1) + 's'">
      <div class="estreno-image">
        <img [src]="anime.img" [alt]="anime.name" loading="lazy">
        <span class="estreno-rank">#{{ anime.top }}</span>
      </div>
      <div class="estreno-details">
        <div class="estreno-date">
          <i class="fas fa-calendar"></i>
          <span>{{ anime.content }}</span>
        </div>
        <h4>{{ anime.name }}</h4>
        <div class="estreno-tags">
          <span class="badge badge-orange" *ngIf="anime.genre">{{ anime.genre }}</span>
          <span class="badge badge-surface" *ngIf="anime.episodes">{{ anime.episodes }} eps</span>
        </div>
        <p>{{ anime.sinopsis }}</p>
      </div>
    </article>
  </div>
</div>
